include LICENSE *.c *.h *.py
exclude pytsk3.c
recursive-include dpkg *
recursive-include msvscpp *
recursive-include samples *.py
recursive-include talloc *
recursive-include test_data *
recursive-include tests *.py
