Source: pytsk3
Section: python
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-python, python3-all (>= 3.2~), python3-all-dev, python3-setuptools
Standards-Version: 3.9.5
X-Python3-Version: >= 3.5
Homepage: https://github.com/py4n6/pytsk/

Package: python3-pytsk3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-tsk
Replaces: python3-tsk
Description: Python 3 bindings for the SleuthKit (libtsk)
 Python 3 bindings for the SleuthKit (libtsk).

Package: python3-pytsk3-dbg
Architecture: any
Section: debug
Depends: python3-pytsk3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for python3-pytsk3
 Debugging symbols for python3-pytsk3.

